
# Created by https://www.gitignore.io/api/swift

### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
Pods/Firebase/Empty.m
Pods/Firebase/FAuthData.h
Pods/Firebase/FAuthType.h
Pods/Firebase/FConfig.h
Pods/Firebase/FDataSnapshot.h
Pods/Firebase/FEventType.h
Pods/Firebase/Firebase.h
Pods/Firebase/FirebaseApp.h
Pods/Firebase/FirebaseServerValue.h
Pods/Firebase/FMutableData.h
Pods/Firebase/FQuery.h
Pods/Firebase/FTransactionResult.h
Pods/Firebase/libFirebaseStatic.a
Pods/Firebase/Firebase.framework/Firebase
Pods/Pods.xcodeproj/project.pbxproj
Pods/Target Support Files/Firebase/Firebase-dummy.m
Pods/Target Support Files/Firebase/Firebase-prefix.pch
Pods/Target Support Files/Firebase/Firebase-umbrella.h
Pods/Target Support Files/Firebase/Firebase.modulemap
Pods/Target Support Files/Firebase/Firebase.xcconfig
Pods/Target Support Files/Firebase/Info.plist
Pods/Target Support Files/Pods-WhaleTalk/Info.plist
Pods/Target Support Files/Pods-WhaleTalk/Pods-WhaleTalk-acknowledgements.markdown
Pods/Target Support Files/Pods-WhaleTalk/Pods-WhaleTalk-acknowledgements.plist
Pods/Target Support Files/Pods-WhaleTalk/Pods-WhaleTalk-dummy.m
Pods/Target Support Files/Pods-WhaleTalk/Pods-WhaleTalk-frameworks.sh
Pods/Target Support Files/Pods-WhaleTalk/Pods-WhaleTalk-resources.sh
Pods/Target Support Files/Pods-WhaleTalk/Pods-WhaleTalk-umbrella.h
Pods/Target Support Files/Pods-WhaleTalk/Pods-WhaleTalk.debug.xcconfig
Pods/Target Support Files/Pods-WhaleTalk/Pods-WhaleTalk.modulemap
Pods/Target Support Files/Pods-WhaleTalk/Pods-WhaleTalk.release.xcconfig
